body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right,rgba(34, 34, 213, 0.821), indigo);
}
.container{
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid;
}
.container h1{
    text-align: center;
    font-weight: 700;
    margin: 10px;
    padding: 10px 0;
    background-color: orange;
    color: rgb(64, 64, 171);
    border-radius: 6px;
}
.quiz{
    padding-top: 10px;
}
.quiz h2{
    font-size: 25px;
    font-weight: 600;
}
ul{
    list-style-type: none;
    padding: 0;
}
ul li{
   font-size: 20px;
   margin:3px 0;
   padding: 10px 10px 10px 5px; 
   cursor: pointer;
   background-color: #E7E9EB;
   border-radius: 6px;
}
ul li:hover{
     background-color: #dbdcdd;
}
ul li label{
    cursor: pointer;
}
.container #nextButton{
    display: block;
    margin: auto;
    padding: 6px;
    width: 25%;
    font-size: 20px;
    font-weight: 600;
    outline: 1px solid;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color:rgba(112, 60, 150, 0.826);
    color: #fff;
}
.container #nextButton{
    display: block;
    margin: auto;
    padding: 6px;
    width: 25%;
    font-size: 20px;
    font-weight: 600;
    outline: 1px solid;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    background-color:#703c96;
}
.container #nextButton:hover{
    background-color:rgba(76, 0, 130, 0.916);
    color: #fff;
}               
#reloadButton{
    display: block;
    margin: auto;
    padding: 6px;
    width: 25%;
    font-size: 20px;
    font-weight: 600;
    outline: 1px solid;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color:rgb(112, 60, 150);
    color: #fff;
}
